.box{
    padding:2.34vw;
    padding-top: 13vh;
    height:175vh;
    width: 100%;
    background: #F7F7F8;
}
.heading1{
    margin-top: 2rem;
    text-align: center;
    font: normal normal normal 1.302vw/3.43vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.heading2{
    margin-top: 2rem;
    text-align: center;
    font: normal normal normal 4.1vw/10.60vh Baskerville;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.subheadingBox{
    width:28vw;
    margin-left: auto;
    margin-right: auto;
}
.heading3{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    font: normal normal normal 1.302vw/3.43vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
    line-height: 4vh;
}
.sectionHeading{
    margin:auto;
    margin-bottom: 3.4vh;
    text-align: left;
    font: normal normal bold 1.56vw/4.29vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
    line-height: 5vh;
}
.box2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-left: auto;
}
.sectionContentRow{
    margin:0.2rem;
    text-align: left;
    font: normal normal normal 1.4vw/4.29vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
    line-height: 5vh;
}

.sectionBreak{
    height: 3rem;
}
.lineBox{
    background:#F7F7F8 ;
    margin-top: 1rem;
  }
  .lineBreak{
    margin: auto;
    width: 90%;
    border: solid 1px;
    background: #1D3558;
  }