.box{
  padding:2.25rem;
  background: #F1FAEE;
}
.content1{
  padding-left:0px;
  padding-top: 2rem;
  text-align: left;
  font: normal normal normal 16px/24px ProximaRegular;
  letter-spacing: 0px;
  color: #1D3558;
  opacity: 1;
}
.heading1{
  padding-left: 8rem;
  padding-top: 2rem;
  margin-bottom: 5.15vh;
  text-align: left;
  font: normal normal normal 28px/28px Baskerville;
  letter-spacing: 0px;
  color: #1D3558;
  opacity: 1;
}
.content2{
  padding-left: 8rem;
  text-align: left;
  font: normal normal normal 16px/12px ProximaRegular;
  letter-spacing: 0px;
  color: #1D3558;
  opacity: 1;
}
.inputBox{
  text-align: left;
  margin-top:5.15vh;
  margin-left: 8rem;
}
.inputField1{
  width: 100%;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #8E9AAB;
  font: normal normal normal 16px/12px ProximaRegular;
  opacity: 1;
}
.inputField2{
  width: 100%;
  height: 124px;
  padding-left: 1rem;
  border: 1px solid #8E9AAB;
  font: normal normal normal 16px/24px ProximaRegular;
  opacity: 1;
}

.btnBox{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  float: right;
}
.btn{
  width: 80px;
  height: 48px;
  color: #FFFFFF;
  background: #1D3558 ;
  opacity: 1;
  font: normal normal normal 16px/24px ProximaRegular;
} 
.bg{
  padding-top: 1rem;
  background: #F1FAEE;
}
.rightBox{
  margin: 0;
  width: 100%;
  padding-left: 2rem;
}
.copyright{
  text-align: left;
  font: normal normal normal 14px/24px ProximaRegular;
  letter-spacing: 0px;
  color: #1D3558;
  opacity: 1;
}
.madeBy{
  text-align: center;
  font: normal normal normal 14px/24px ProximaRegular;
  letter-spacing: 0px;
  color: #1D3558;
  opacity: 1;
}
.lineBox{
  background:#F1FAEE ;
}
.lineBreak{
  margin: auto;
  width: 96%;
  background: #1D3558;
}
.img{
  margin-left:0px;
}
@media (max-width:420px){
  .img{
    text-align: center;
    margin-left: 5rem;
  }
  .content1{
    padding-left:2.25rem;
    padding-top: 2rem;
    text-align: center;
    font: normal normal normal 16px/24px ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
  }
  .heading1{
    padding-top: 2rem;
    padding-left: 0rem;
    margin-bottom: 5.15vh;
    text-align: center;
    font: normal normal normal 28px/28px Baskerville;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
  }
  .content2{
    padding-left: 0rem;
    text-align: center;
    font: normal normal normal 16px/12px ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
  }
  .copyright{
    text-align: center;
    font: normal normal normal 14px/24px ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
  }
  .inputBox{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-top:5.15vh;
    margin-left: 0px;
  }
  .inputField1{
    width: 100%;
    height: 60px;
    padding-left: 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
    border: 1px solid #8E9AAB;
    font: normal normal normal 16px/12px ProximaRegular;
    opacity: 1;
  }
  .inputField2{
    width: 100%;
    height: 124px;
    padding-left: 1rem;
    text-align: center;
    border: 1px solid #8E9AAB;
    font: normal normal normal 16px/24px ProximaRegular;
    opacity: 1;
  }
  
  .btnBox{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    float: right;
  }
  .btn{
    width: 80px;
    height: 48px;
    color: #FFFFFF;
    background: #1D3558 ;
    opacity: 1;
    font: normal normal normal 16px/24px ProximaRegular;
  } 
}
