.navbarlinks{
    font: normal normal normal 20px/24px ProximaRegular;
    color: #1D3558 !important;
    margin-right:12px
}
.btn{
    margin-right: 36px;
    width: 169px;
    height: 9.54vh;
    background: #1D3558 !important;
    color: #FFFFFF;
    opacity: 1;
}
.navbartogglericonCustom {
    display: inline-block;
    width: wrap;
    height: wrap;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: red;
  }
  .logo{
      margin-left: 36px;
      height: 128px;
  }
  @media (max-width:420px){
    .logo{
        margin-left: 18px;
        height: 80px;
    } 
    .navbartogglericonCustom {
        display: inline-block;
        width: wrap;
        height: wrap;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: red;
        margin-right: 18px;
      }
  }