.aboutBox{
    margin-top: 7rem;
    padding-bottom: 7rem;
}
.aboutHeading{
    margin: 3rem;
    text-align: left;
    font: normal normal normal 64px/74px Baskerville;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.aboutContent{
    margin: 3rem;
    text-align: left;
    font: normal normal normal 20px/30px ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.aboutContent2{
    margin-left:3rem;
    margin-top: -2.5rem;
    text-align: left;
    font: normal normal normal 20px/30px ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.aboutBold{
    text-align: left;
    font: normal normal bold 24px/30px ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.aboutImage{
    margin-left: 3rem;
}
.aboutContent3{
    margin-left:3rem;
    margin-top: -1rem;
    text-align: left;
    font: normal normal normal 20px/30px ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}