.serviceBox{
    padding:2.34vw;
    padding-top: 13vh;
    height:107vh;
    width: 100%;
}
.serviceHeading{
    text-align: left;
    font: normal normal normal 4.1vw/10vh Baskerville;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
    margin-bottom: 8.5vh;
}
.serviceContent{
    text-align: left;
    font: normal normal normal 1.3vw/4.2vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.servicContent2{
    text-align: left;
    font: normal normal normal 1.3vw/4.2vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.rightBox{
    margin-top: 18vh;
    padding-left: 8vw;
}
.serviceBold{
    margin-bottom: 3vh;
    text-align: left;
    font: normal normal bold 1.56vw/4.32vh ProximaBold;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.serviceContent3{
    margin-top: -1rem;
    text-align: left;
    font: normal normal normal 1.3vw/4.2vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.serviceContent4{
    margin-top: 6.8vh;
    text-align: left;
    font: normal normal normal 1.3vw/4.2vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}