.aboutBox{
    padding:2.34vw;
    padding-top: 13vh;
    height:185vh;
    width: 100%;
    background:#F7F7F8;
}
.aboutHeading{
    text-align: left;
    font: normal normal normal 4.1vw/10vh Baskerville;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.aboutContent{
    text-align: left;
    margin-top: 12px;
    font: normal normal normal 1.3vw/4.2vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.aboutContent2{
    text-align: left;
    margin-top: -2vh;
    font: normal normal normal 1.3vw/4.2vh ProximaRegular;
    letter-spacing: 0px;
    color: #1D3558;
    opacity: 1;
}
.aboutBold{
    text-align: left;
    font: normal normal bold 1.3vw/4.2vh Proxima;
    letter-spacing: 0px;
    color: #1D3558;
}
.aboutImage{
    margin-top: 10.19vh;
}